<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head', { title: 'Home'}) %>
<body>
    <%- include('../partials/nav') %>
    <main id="needsMargin">
        <h1 id="titleH1">Welcome to Paris!</h1>
        <div style="margin-bottom: 2rem" class="container">
            <div style="display: flex; flex-direction: column; align-items: center;">
                <p style="width: 95%;" id="parisInfoSection1">Paris, often referred to as the "City of Light," is a captivating metropolis renowned for its rich history, iconic landmarks, and vibrant culture. Located in the north-central part of France, Paris stands as the country's capital and its most populous city, with a population of over 2.1 million people, and the greater metropolitan area, known as the Île-de-France, boasting a population of nearly 12 million. Situated along the Seine River, this picturesque city offers a unique blend of historical charm and contemporary flair, making it a must-visit destination for tourists from around the world. Paris is famous for its world-class museums, such as the Louvre and Musée d'Orsay, which house priceless art collections. Visitors can also admire architectural marvels like the Eiffel Tower, Notre-Dame Cathedral, and the Arc de Triomphe. The city's enchanting neighborhoods, diverse cuisine, and fashionable boutiques ensure a memorable experience for every traveler. Additionally, Paris is a global center for fashion, and the city's numerous boutiques and designer shops, particularly in the Le Marais and Champs-Élysées districts, make it a shopping paradise for fashion enthusiasts. The French culinary scene is another highlight, with countless bistros, cafés, and Michelin-starred restaurants where you can savor delectable pastries, exquisite wines, and the city's iconic croissants. 
                </p> <br>
                <img style="width: 95%;" src="images/arcDeTriomphe.jpg" alt="eiffel tower">
            </div>
            <div style="display: flex; flex-direction: column; align-items: center;">
                <img style="width: 95%;" id="imageSection1" src="images/eiffelTower.jpg" alt="eiffel tower"> <br>
                <p style="width: 95%;" id="parisInfoSection2">The River Seine meanders through the heart of Paris, and taking a leisurely boat cruise along its waters provides a unique perspective of the city's stunning architecture.

                    For those interested in history, the Palace of Versailles, a short train ride from central Paris, offers a glimpse into the opulence of the French monarchy with its grand palace and extensive gardens. Art lovers can explore the Montmartre district, once home to legendary artists like Picasso and Dali, and still retains its bohemian charm.
                    
                    Paris is renowned for its efficient public transportation system, including the Paris Métro, which makes it easy to navigate the city and access its many attractions. Tourists can also purchase a Paris Pass, which provides access to various museums and allows for priority entry, saving time in lines.
                    
                    The city's annual events, such as Paris Fashion Week, the Tour de France, and Bastille Day celebrations, offer unique experiences for visitors. Whether you're strolling along the Seine at sunset, sipping café au lait in a charming Montmartre café, or admiring world-class art, Paris promises an unforgettable journey rich in culture and history.
                    
                    The site offers a plethora of information about Paris. Use the navbar to explore and plan your next adventure!
                </p>
            </div>
        </div>
    </main>
    <div id="success-signup" class="error-message success"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg> Successfully signed up!</div>
    <div id="success-login" class="error-message success"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM216 336h24V272H216c-13.3 0-24-10.7-24-24s10.7-24 24-24h48c13.3 0 24 10.7 24 24v88h8c13.3 0 24 10.7 24 24s-10.7 24-24 24H216c-13.3 0-24-10.7-24-24s10.7-24 24-24zm40-208a32 32 0 1 1 0 64 32 32 0 1 1 0-64z"/></svg> Successfully logged in!</div>
    <%- include('../partials/signupForm') %>
    <%- include('../partials/settings') %>
    <%- include('../partials/loginForm') %>
</body>
</html>